certifi==2019.6.16
chardet==3.0.4
Click==7.0
coloredlogs==10.0
future==0.17.1
humanfriendly==4.18
idna==2.8
panoptes-client==1.1.1
python-magic==0.4.15
redo==2.0.3
requests==2.21.0
six==1.12.0
urllib3==1.24.3
